*{
    margin: 0;
    padding: 0;
}

html, body{
    scroll-behavior: smooth;
}


.name{
    color:white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    float:left;
    padding-top: 20px;
    padding-left: 50px;
    
}

nav{
    position:absolute;
    align-items: centre;
    width: 100%;
    display: inline-block;
}
.links{
    flex:1;
    text-align:right;
}
.links ul li{
    list-style:none;
    display:inline-block;
    margin-right: 30px;
    padding: 30px 12px;
    font-family: 'Poppins', sans-serif;
    position:relative;
}
.links ul li a{
    color:white;
    text-decoration: none;
    font-size:20px;
    
}
.links ul li::after{
    content:'';
    height: 5px;
    width:0%;
    background:white;
    margin:auto;
    display:block;
    transition: 0.3s;
}
.links ul li:hover::after{
    width:100%;
}

.text_head{
    position: absolute;
    color: white;
    size: 20px;
    align-content: center;
    width: 100%;
    height: 100%;
}


.segment1{
    margin-left: auto;
    margin-right: auto;
    background-image: url('../images/home_first_image.jpg');
    background-position: fixed;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 750px;
    overflow: hidden;
    position: relative;
}

.overlay{
    position: absolute;
    margin-top: 300px;
    margin-left: 40px;
    align-content: center;
    font-family: 'Oswald', sans-serif;
    line-height: 1;
    color: white;
    width: 100%;
    height: 100%;
    font-size: 7em;
}

.buttongame{
    margin-top: 650px;
    margin-left: 40px;
    background:transparent;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    display: block;
    padding-bottom: 10px;
    padding-top: 10px;
    border: white;
    transform: skewX(0deg);
    border-style: solid;
    transition-duration: 0.3s;
}

.buttongame:hover{
    background-color: white;
    color: black;
    border: white;
    border-style: solid;
}

.maintain_text{
    font-family: 'Poppins', sans-serif;
   
    margin-right: 150px;
}

.maintain{
    display: flex;
    align-items: center;
}

.track_text{
    font-family: 'Poppins', sans-serif;
   
    margin-left: 150px;
}

.quote{
    font-family: "Poppins", sans-serif;
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
    align-items: center;
    text-align: center;
}

.credits{
    width: 100%;
    background-color: black;
    height: 50px;
}
 
.container{
    margin-top: 10px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.container div{
    width: 50%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
}



