*{
    margin: 0;
    padding: 0;
}

h3{
    font-family: "Poppins", sans-serif;
    font-size: 1.5em;
    margin-left: 40px;
    margin-top: 40px;
}

.container_1{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    color: white;
    width: 100%;
    font-family: "Poppins", sans-serif;
}

.table-container{
    margin-left: 40px;
    margin-right: 40px;

}
.table-container h2{
    font-size: 30px;
    text-align: center;
    padding: 0px 0px 0px 0px;
    color: rgb(0, 183, 255);
}
table{
    width:100%;
    border-collapse:collapse;
}


.btn{
    padding: 5px; 
    border-color: #446363;
    text-decoration: none;
    border-style: solid;
    color: #446363; 
    border-width: 2px; 
    font-size: 0.7em;
    background-color: white;
    transition: 0.2s;
    font-family: "Poppins", sans-serif;
}

th{
    background-color: #446363;
    font-size: 1em;
    font-family: "Poppins", sans-serif;
    color: white;
}

th, td{
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    vertical-align: middle;
}

td{
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 1em;
}


tr:nth-child(even) {
    background-color: #f2f2f2;
}

.btn:hover{
    background-color: #446363;
    color: white;
}

/*
.table thead tr th{
    font-size: 17px;
    font-weight: medium;
    letter-spacing:0.35px;
    padding:14px;
    vertical-align:top;
    border:1px solid rgb(200, 188, 188);

}
.table tbody tr td{
    font-size: 14px;
    font-weight: normal;
    letter-spacing:0.35px;
    padding:8px;
    text-align: center;
    border:1px solid rgb(196, 188, 188);
    
}
.table tbody tr td .btn{
    width: 130px;
    padding:7px 7px 7px 7px;
    color: white;
    display: inline-block;
    background-color: rgb(9, 152, 9);
    font-weight: medium;
    border-radius:5px;
    user-select: none;
    border:none;
}
.table tbody tr td .btn:hover{
    background-color: rgb(255, 217, 80);
}
*/
