<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Halloween</title>

        <link rel="stylesheet" href="styles.css">
   
    </head>

    <body>

        <div class="navBar" style="text-align: center; align-items: center;" id="navbar"> 
            <img src="images/cat_logo.jpg" width="50px" height="50px" style="float: left; margin-top: 15px;">
            <div class="fontMain" style="color: white; float: left; font-size: 1.5em;;"><h3 style="text-align: center;">Scaredy cat recommendation</h3></div>
        </div>

        <div class="segment1">
            <video autoplay muted loop>
                <source src="home_main_movie.mp4" type="video/mp4">
                
            </video>
          
            <div class="overlay">
                <div class="fontMain">
                    <a href="https://en.wikipedia.org/wiki/Halloween" style="text-decoration: none;"><h1 style="font-size: 4em; color: cornsilk; text-align: center;">Halloween</h1></a>
                    
                </div>
            </div>
        
        </div>
        
        <br><br><br>
        <div class="movieseg" style="height: 88%; width: 90%;">
            <a href="https://www.imdb.com/title/tt6857112/"><img src="images/movies/us1.jpg" height="100%" style="background-color: black; float: left; margin-top: 100px; margin-left: 100px; background-position: center;background-attachment: fixed;"></a>
            <div class="fontmurder"> <h1 style="color: #DFD6CC; float: right; margin-right: 15%; font-size: 6em;">Binge worthy</h1></div>
            <div class="conten"><h2 style="color: #DFD6CC; float: right; margin-right: 17%; margin-top: 0px; text-align: center;">Watch OUT FOR THESE MOVIES<br> THIS SPOOKTOBER</h2></div>
            <div class="container">
                
                <div class="left"><a href="https://www.imdb.com/title/tt1457767/"><img src="images/movies/conjuring.jpg" width="60%" height="200px" style="border-radius: 10px;"></div></a>
                <div class="mid"><a href="https://www.imdb.com/title/tt6566576/"><img src="images/movies/fear_street.jpeg" width="60%" height="200px" style="border-radius: 10px;"></div></a>
                <div class="right"><a href="https://www.imdb.com/title/tt7784604/"><img src="images/movies/hereditary.jpg" width="60%" height="200px" style="border-radius: 10px;"></div></a>
            </div>
            <div class="centre"><a href="https://www.netflix.com/in/" style="text-decoration: none;"><button class="button"><div class="conten" style="font-size: 2em;">EXPLORE</div></button></div></a>
        </div>

       

        <br><br><br><br><br><br><br><br><br>
        
        <div class="gameseg" style="height: 95%; width: 100%;">
            <img src="images/games/game.png" height="90%" style="float: left; margin-top: 100px;">
            <div class="fontmurder"><h1 style="float: right; color: #b0c8ab; margin-right: 15%; font-size: 6em;">heart pounding</h1></div>
            <div class="conten"><h2 style="color: #b0c8ab; float: right;margin-right: 17%; text-align: center;">Believe nothing you hear,<br> and only one half that you see.</h2></div>
            <div class="container">
                <div class="left"><a href="https://store.steampowered.com/app/999220/Amnesia_Rebirth/"><img src="images/games/amnesia.jpg" width="60%" height="200px" style="border-radius: 10px;"></div></a>
                <div class="mid"><a href="https://store.steampowered.com/app/939850/The_Dark_Pictures_Anthology_Man_of_Medan/"><img src="images/games/mom.jpg" width="60%" height="200px" style="border-radius: 10px;"></div></a>
                <div class="right"><a href="https://store.steampowered.com/app/418370/Resident_Evil_7_Biohazard/"><img src="images/games/re8.jpg" width="60%" height="200px" style="border-radius: 10px;"></div></a>
            </div>

            <div class="centre"><a href="https://store.steampowered.com/category/horror/" style="text-decoration: none;"><button class="buttongame"><div class="conten" style="font-size: 2em;">EXPLORE</div></button></div></a>
        </div>

        <br><br><br><br><br><br>
        <div class="bookseg" style="height: 98%; width: 90%;">
            <div class="fontMain"><h1 style="color: #6ae619; float: left; margin-left: 15%; font-size: 2em;">Goosebumps</h1></div>
            <a href="https://www.goodreads.com/book/show/89717.The_Haunting_of_Hill_House"><img src="images/books/hillhouse.jpg" height="90%" style="float: right; margin-top: 170px; margin-right: 60px; border-radius: 20px;"></a>
            <div class="conten"><h2 style="color: white; float: left; margin-left: 15%; text-align: center; width: fit-content;">On Halloween, witches come true;<br> wild ghosts escape from dreams.<br>Each monster dances in the park.</h2></div>
            
            
            <div class="container" style="float: left; margin-top: 10px; margin-left: 10%;">
                <div class="left"><a href="https://www.goodreads.com/book/show/179780.The_Exorcist"><img src="images/books/exorcist.jpg" width="60%" height="200px" style="border-radius: 10px;"></div></a>
                <div class="mid"><a href="https://www.goodreads.com/book/show/830502.It"><img src="images/books/it.jpg" width="60%" height="200px" style="border-radius: 10px;"></div></a>
                <div class="right"><a href="https://www.goodreads.com/book/show/11588.The_Shining"><img src="images/books/shining.png" width="60%" height="200px" style="border-radius: 10px;"></div></a>
            </div>
            
            <div class="centre"  style="float: left; margin-left: 25%;"><a href="https://www.goodreads.com/shelf/show/horror" style="text-decoration: none;"><button class="buttongreen"><div class="conten" style="font-size: 2em;">EXPLORE</div></button></div></a>
        </div>

        <br><br><br><br><br><br><br><br><br><br>
        <div class="gifts" style="height: 100%; width: 90%;">
                <centre><div class="conten" style="margin-left: auto; margin-right: auto; text-align: center; padding-top: 10px;"><h1 style="color: wheat; font-size: 5em;">Gifts up for grab</h1></div></centre>
                <div class="container" style="width: 100%; text-align: center;">
                    <div class="one"><a href="https://www.amazon.in/Sarvda-Superhero-Costumes-Halloween-Birthday/dp/B09HV1KG7N/ref=sr_1_20?crid=37EUOZGOGTQ9K&dchild=1&keywords=halloween+gifts&qid=1635825825&sprefix=hallowee%2Caps%2C403&sr=8-20"><img src="images/gifts/cape.jpg" width="80%" height="300px" style="border-radius: 10px;"></div></a>
                    <div class="two"><a href="https://www.amazon.in/Perpetual-Bliss-Halloween-Decoration-Women-Multicolor/dp/B09DB2X5QN/ref=sr_1_9?crid=37EUOZGOGTQ9K&dchild=1&keywords=halloween+gifts&qid=1635825825&sprefix=hallowee%2Caps%2C403&sr=8-9"><img src="images/gifts/masks.jpg" width="80%" height="300px" style="border-radius: 10px;"></div></a>
                    <div class="three"><a href="https://www.amazon.in/TIED-RIBBONS-Engineers-Halloween-Boyfriend/dp/B07YKXM917/ref=sr_1_2_sspa?crid=37EUOZGOGTQ9K&dchild=1&keywords=halloween+gifts&qid=1635825825&sprefix=hallowee%2Caps%2C403&sr=8-2-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUFCSFY0SEtXNVhWMjkmZW5jcnlwdGVkSWQ9QTAyNDkzODAxS0IyN1RDWEswUUdBJmVuY3J5cHRlZEFkSWQ9QTA4NzM5NzEyVUQ4VThEU1dGUkFHJndpZGdldE5hbWU9c3BfYXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ=="><img src="images/gifts/mugskull.jpg" width="90%" height="300px" style="border-radius: 10px;"></div></a>
                    <div class="four"><a href="https://www.amazon.in/Sarvda-Superhero-Costumes-Halloween-Birthday/dp/B09K4617CV/ref=sr_1_30?crid=37EUOZGOGTQ9K&dchild=1&keywords=halloween+gifts&qid=1635825825&sprefix=hallowee%2Caps%2C403&sr=8-30"><img src="images/gifts/masks2.jpg" width="80%" height="300px" style="border-radius: 10px;"></div></a>
                    <div class="five"><a href="https://www.amazon.in/Halloween-Reusable-Pumpkins-Children-Party-Layfoo/dp/B09GFB8Q11/ref=sr_1_56?crid=37EUOZGOGTQ9K&dchild=1&keywords=halloween+gifts&qid=1635825825&sprefix=hallowee%2Caps%2C403&sr=8-56"><img src="images/gifts/bag.jpg" width="80%" height="300px" style="border-radius: 10px;"></div></a>
                </div>

                <div class="centre"  style="text-align: center; width: 57%; text-decoration: none;"><a href="https://www.amazon.in/s?k=halloween+gifts&crid=37EUOZGOGTQ9K&sprefix=hallowee%2Caps%2C403&ref=nb_sb_noss_1" style="text-decoration: none;"><button class="buttonshop" style="text-decoration: none;"><div class="conten" style="font-size: 2em; text-decoration: none;">Shop more</div></button></div></a>
        </div>

        <br><br><br><br><br><br><br><br><br>
        <div class="end">
            <img src="end.jpg" width="50%" height="50%" style="float: left;">
            <div class="conten"><h1 style="float: right; font-size: 3em; color: crimson; margin-right: 15%; text-align: center;">404<br>You've reached<br> hell</h1></div>
            <div class="centre" style="float: right;"><a href="#navbar" style="text-decoration: none;"><button class="buttonred"><div class="conten" style="font-size: 2em;">Go back up &#8743</div></button></div></a>
            
        </div>

        <div class="conten">
            <h3 style="color: #b0c8ab; float: left; width: 100%; margin-top: 70px; text-align: center; padding-bottom: 20px;">&copy;Scaredy cat foundation &ensp;&ensp;&ensp;&ensp;&ensp; developed by chiranth krishna k</h1>
                
        </div>

       

        


    </body>
</html>