<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SITIM</title>
    <link rel="stylesheet" href="sitim.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Oswald:wght@500&display=swap" rel="stylesheet">
<link href="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/fontawesome.min.css">
</head>
<body>
    <section class="header">
        <div class="name"><h1>SITIM</h1><br><h6>Simple interface for transport and Inventory Management</h6>
        </div>
    <nav>
        <div class="links">
            <i class="fa fa-times" aria-hidden="true"></i>
            <ul>
                <li><a href="">HOME</a></li>
                <li><a href="">CONTACT US</a></li>
                <li><a href="login.html">LOGIN</a></li>
                <li><a href="register.html">SIGN UP</a></li>

            </ul>
        </div>
        <i class="fa fa-bars" aria-hidden="true"></i>
    </nav>
</section>  
</body>
</html>