<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SITIM</title>
    <link rel="stylesheet" href="trackOrder.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Oswald:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/fontawesome.min.css">

</head>
<body>

    <nav>

        <div class="links">
          
            <div class="name">
              <h1>company name</h1>
            </div>
            
            <ul>
                
                <li><a href="#">REQUESTS</a></li>
                <li><a href="trackOrder.html">ORDERS</a></li>

            </ul>

        </div>
        
    </nav>

    <p style="font-family: Poppins, sans-serif; font-size:2em; margin-left: 50px; margin-top: 40px; display:block">Here's the list of items present</p>
    <br><br><br>

    <table style="width: 93%; margin-left:50px;">
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Manufacturing date</th>
            <th>Quantity</th>
            <th>Price / item</th>
        </tr>

        <tr>
            <td>P102</td>
            <td>Banana</td>
            <td>16-09-2022</td>
            <td>6</td>
            <td>10</td>
        </tr>

        <tr>
            <td>P203</td>
            <td>Laptop</td>
            <td>19-09-2019</td>
            <td>30</td>
            <td>60000</td>
        </tr>
    </table>
    

</body>
</html>