<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SITIM</title>
    <link rel="stylesheet" href="sitim.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Oswald:wght@500&display=swap" rel="stylesheet">
<link href="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/fontawesome.min.css">
<link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    
    <form action="/" method="POST" id="login-form">
        <header>
            <div class="card">    
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="User Id" required>
            <label for="pass">Password:</label>
            <input type="text" id="password" name="password" placeholder="Password" required>
            <br>
            
            <!-- <input type="text" class="input-field" name="cname" placeholder="Company Name" required> -->
            <!-- <input type="checkbox" class="check-box"><span>Remember Password</span> -->
            {% for message in get_flashed_messages() %}
                {{message}}
            {%endfor%}
            <br>
            <input type="submit" value="Sign-in">        <h6>Dont have an account?</h6>
            <a href="{{ url_for('register') }}">Sign-up</a>
        </header>        
    </div> 
    </form>    
        
</body>
</html>