DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SITIM</title>
    <link rel="stylesheet" href="sitim.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Oswald:wght@500&display=swap" rel="stylesheet">
<link href="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/fontawesome.min.css">
</head>
<body>
    
    <form id="login" class="input-group">
        <div class="card">    
        
        <input type="email" class="input-field" placeholder="User Id" required>
        <input type="text" class="input-field" placeholder="Password" required>
        <input type="text" class="input-field" placeholder="Company Name" required>
        <input type="checkbox" class="check-box"><span>Remember Password</span>
        <button type="submit" class="submit-btn">Log In</button><br><br><br><br>
        <h6>Dont have an account?</h6>
        <a href="sitimSign.html">Sign Up</a>
    
    </div> 
    </form>    
        
</body>
</html>