<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Products</title>
</head>
<body>
    <h3>{{username}}</h3> 
    <!-- displaying username -->
    <h3>{{userid}}</h3>
    <!-- displaying userid -->
    <table class="products" >
        <thead>
            <tr>
                <td>Product Name</td>
                <td>Available</td>
                <td>Price</td>
            </tr>
        </thead>
        <tbody>
            {%for product in products %}
                <tr>
                    <td>{{ product['pname'] }}</td>
                    <td>{{ product['quantity'] }}</td>
                    <td>{{ product['price'] }}</td>
                </tr>
            {%endfor%}
        </tbody>
    </table>
</body>
</html>