<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Getting data....</p>
    <h4>Owned</h4>
{% for owned_product in owned_products %}
                        
    {{owned_product}}
{%endfor%}
<br>
<h4>Requested</h4>
{% for req in requested %}
                        
    {{req}}
{%endfor%}

<h4>Display</h4>
{% for dis in display %}
                        
    {{dis}}
{%endfor%}

<h4>Available_products</h4>
{% for ava in products_available %}
                        
    {{ava}}
{%endfor%}
  
{{listing}}
</html>