<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SITIM</title>
    <link rel="stylesheet" href="sitimLogin.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Oswald:wght@500&display=swap" rel="stylesheet">
    <link href="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/fontawesome.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

    <div class="segment1">
        <nav>

            <div class="links">
              
                <div class="name">
                  <h1>SITIM</h1>
                </div>
                
                <ul>
                    
                    <li><a href="sitimHome.html">HOME</a></li>
                    <li><a href="sitimSign.html">SIGN UP</a></li>
                    <li><a href="">CONTACT US</a></li>
    
                </ul>
    
            </div>
            
        </nav>

        <div class="login_block">

            <div class="log_in_text">
                Log in 
            </div>
            <br><br><br>
    
            <form action="/" method="POST" id="login-form">
                <header>
                    <div class="card">    
                    <label for="username" style="text-align: left; font-size: 1em; font-family: Poppins, sans-serif; color: white;">Username:</label><br>
                    <input type="text" id="username" name="username" placeholder="User Id" required><br><br>
                    <label for="pass" style="text-align: left; font-size: 1em; font-family: Poppins, sans-serif; color: white;">Password:</label><br>
                    <input type="password" id="password" name="password" placeholder="Password" required>
                    <br>
                    
                    <!-- <input type="text" class="input-field" name="cname" placeholder="Company Name" required> -->
                    <!-- <input type="checkbox" class="check-box"><span>Remember Password</span> -->
                    
                    
                    <!-- {% for message in get_flashed_messages() %}
                        {{message}}
                    {%endfor%} -->
                    <br>



                    <input type="radio" id="manufacturer" name="organization" value="Manufacturer">
                    <label for="manufacturer" style="text-align: left; color: white; font-size: 1.2em; font-family: Poppins, sans-serif;">Manufacturer</label><br><br>
                    <input type="radio" id="wholesaler" name="organization" value="Wholesaler">
                    <label for="wholesaler" style="text-align: left; color: white; font-size: 1.2em; font-family: Poppins, sans-serif; line-height: 10px;">Wholesaler</label><br><br>
                    <input type="radio" id="retailer" name="organization" value="Retailer">
                    <label for="retailer" style="text-align: left; color: white; font-size: 1.2em; font-family: Poppins, sans-serif;">Retailer</label>

                    <br><br>
                    <input type="submit" value="Sign-in"><br><br>
                    <h5 style="text-align: left; font-size: 1em; font-family: Poppins, sans-serif; color: white;">Dont have an account?</h5><br>
                    <a href="{{ url_for('register') }}"><p style="text-align: left; font-family: Poppins, sans-serif; color: white; line-height: 1px;">Sign-up</p></a>
                </header>        
            </div> 
            </form> 
        
        </div>
    
    </div>
        
</body>
</html>