<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SITIM</title>
    <link rel="stylesheet" href="../static/css/sitim.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Oswald:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/fontawesome.min.css">

</head>
<body>
    
    <div class="segment1">

        <nav>

            <div class="links">
              
                <div class="name">
                  <h1>SITIM</h1>
                </div>
                
                <ul>
                    
                    <li><a href="{{ url_for('login')}}">LOGIN</a></li>
                    <li><a href="{{ url_for('register') }}">SIGN-UP</a></li>
                    <li><a href="#contact_us">CONTACT US</a></li>
    
                </ul>
    
            </div>
            
        </nav>
        
        
      
        <div class="overlay">
            CONNECTING<br> THE <br>ESSENTIALS
        </div>

        <a href="#segment2"><button class="buttongame"><b>EXPLORE</b></button></a>
    
    </div>

    <br><br>

    <div class="segment2" id="segment2">
        <p style="font-family: Poppins; font-size: 3em; margin-left: 40px;"><b>Our products</b></p><br>
        <p style="font-family: Poppins; font-size: 1.5em; margin-left: 40px; line-height: 0px;">provide industry specific solutions</p>
        <br><br>
       
        <div class="maintain">
            
            <span>
            <div class="track_text">
                
                <p style="font-size: 2em;"><b>Tracking your products</b></p>
                <p style="font-size: 1em;">
                    Providing a means for retailers and wholesalers to keep track of their products or goods by enabling GPS tracking of trucks carrying the specific product in case of transportation by road
                </p>
            </div>
            </span>

            <img style="height: 400px; width: 600px; margin-right: 100px; vertical-align: middle;" src="../static/images/tracking.png"/>
        </div>

        

        <br><br><br><br><br><br>
        <div class="quote">
            <i><b>"Trade isn't about goods. Trade is about information.<br> Goods sit in the warehouse until information moves them"<br>C.J.Cherryh</b></i>
        </div>

        <br><br><br><br><br><br>
        <div class="maintain">
            
            <span>
            <div class="track_text">
                
                <p style="font-size: 2em;"><b>Cloud Powered solutions</b></p>
                <p style="font-size: 1em;">
                    Information directly fetched and written to available cloud resources provided by Google to improve connectivity and scalability. Providing data integrity to the supplier and the retailer
                    <br>Now truck drivers are able to review information about their transporting goods and at the<br> same time ensure the security of the products
                </p>
            </div>
            </span>
            <img style="height: 300px; width: 500px; margin-right: 100px; vertical-align: middle;" src="../static/images/cloud.png"/>
        </div>

    </div>

    <br><br><br>
    <p style="font-family: Poppins; font-size: 3em; margin-left: 40px;"><b>Developed by</b></p><br>
    <div class="container" id="contact_us">
        <div class="left"><img src="../static/images/person.png" height="200px" width="200px"/><br><b>Dinesh Balivada</b><br>4NI20CS030</div></a>
        <div class="mid"><img src="../static/images/person.png" height="200px" width="200px"/><br><b>Chiranth Krishna K</b><br>4NI20CS026</div></a>
        <div class="right"><img src="../static/images/person.png" height="200px" width="200px"/><br><b>Manali M Bandivadekar</b><br>4NI20CS048</div></a>
    </div>

    <br><br><br><br>

    <div class="credits">
        
        <div class="credit_text">
            <p style="font: 1em Poppin, sans-serif; color: white; vertical-align: middle; padding-top: 15px; margin-left: 40px;">&copy; Simple Interface for Transport and Inventory Management (SITIM)</p>
        </div>
    </div>
    


</body>
</html>

<!-- hello prands -->
